<div class="row bs-wizard" style="border-bottom:0;">
    
    <div id="step1" class="col-xs-3 bs-wizard-step">
      <div class="text-center bs-wizard-stepnum">Step 1</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Basic Information</div>
    </div>
    
    <div id="step2" class="col-xs-3 bs-wizard-step"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">Step 2</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Resume</div>
    </div>
    
    <div id="step3" class="col-xs-3 bs-wizard-step"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">Step 3</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Submit!</div>
    </div>
</div>