{% extends 'base.html' %}

{% block head %}
{{ block.super }}

{% include 'candidates/_progress_style.html' %}

{% endblock %}

{% block content %}

{% include 'candidates/_progress.html' %}

<h1>Application Page</h1>
<form method='post'>
{% csrf_token %}
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
<input type='submit' value='Submit'>
</form>
{% endblock %}