{% extends "base.html" %}
<div class='row'>
	<div class='col-xs-12 col-sm-6'>
		<h2>Overview</h2>
		<ul class="list-group">
			<li class="list-group-item">
				<a href='#'><span class="badge">18</span>
					Interviews Pending Confirmation
				</a>
			</li>
			<li class="list-group-item">
				<a href='#'><span class="badge">15</span>
					Interviews Awaiting Follow Up
				</a>
			</li>			
			<li class="list-group-item">
				<a href='#'><span class="badge">14</span>
					New Jobs
				</a>
			</li>
			<li class="list-group-item">
				<a href='#'><span class="badge">20</span>
					...
				</a>
			</li>
		</ul>
	</div>
	<div class='col-xs-12 col-sm-6'>
		<h2>Actions</h2>
		<ul class="list-group">
			<li class="list-group-item">
				<a href='#'>
					Update Preferences
				</a>
			</li>
			<li class="list-group-item">
				<a href='#'>
					Update Resume
				</a>
			</li>			
			<li class="list-group-item">
				<a href='#'>
					Update Availability
				</a>
			</li>
			<li class="list-group-item">
				<a href='#'>
					...
				</a>
			</li>
		</ul>		
	</div>
</div>


