{% extends "base.html" %}

{% block title %}
{{ block.super }}
 - Job Recruitment Platform
{% endblock title %}

{% block content %}
<div class='row'>
{% if user.is_authenticated %}
	{% if user.candidate %}
	 	{% include 'candidate/dashboard.html' %}
	{% elif user.employer %}
		{% include 'employers/dashboard.html' %}
	{% elif user.recruiter %}
		{% include 'recruiters/dashboard.html' %}
	{% else %}
		<p>Custom Message Needed</p>
	{% endif %}	        
{% else %}
	<p>This is the homepage for unauthorized users</p>

{% endif %}
</div>
{% endblock content %}


