
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'dashboards' %}">RECRUIT</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'jobs' %}">Jobs</a></li>
        <li><a href="{% url 'recruiters' %}">Recruiters</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'interviews' %}">Interviews</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'available' user.pk %}">Availability</a></li>
            <li><a href="#">Interviews</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Account</li>
            <li><a href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
          <li><a href="{% url 'account_login' %}">Login/Register</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>