{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">
<style>
	td {
		text-align: center;
	}
	.slider-selection {
		background: #CCC;
	}
	td:nth-child(3) {
		text-align: right;
	}	
	td:nth-child(5) {
		text-align: left;
	}	
</style>
{% endblock %}

{% block content %}
<div class="row">
	<div class='col-md-offset-3 col-md-6'>

<h1>{{ user }}'s Availability</h1>
<table class="table">
  	<thead>
 		<tr>
 			<th>Day</th>
 			<th>Available?</th>
 			<th>Start Time</th>
 			<th>Time Range</th>
 			<th>End Time</th>
 		</tr>
 	</thead>
 <tbody>
 	<tr>
 		<th>Monday</th>
 		<td>
 			<input class='monday' type='checkbox'>
 		</td>
 		<td>
			<span id='mondayStart' class='start'></span>
		</td>
		<td>
				<input class='slideInput' id="monday" type="text"/>
		</td>
		<td>
			<span id='mondayEnd' class='end'>17:00 PM</span>
		</td>
	</tr>
	<tr>
		<th>Tuesday</th>
		<td>
 			<input class='tuesday' type='checkbox'>
 		</td>
		<td>
			<span id='tuesdayStart' class='start'></span>
		</td>
		<td>	
				<input class='slideInput' id="tuesday" type="text"/>
		</td>
		<td>
			<span id='tuesdayEnd' class='end'>17:00 PM</span>
		</td>
	</tr>
	<tr>
		<th>Wednesday</th>
		<td>
 			<input class='wednesday' type='checkbox'>
 		</td>
		<td>
			<span id='wednesdayStart' class='start'></span>
		</td>
		<td>	
				<input class='slideInput' id="wednesday" type="text"/>
		</td>
		<td>
			<span id='wednesdayEnd' class='end'>17:00 PM</span>
		</td>
	</tr>
	<tr>
		<th>Thursday</th>
		<td>
 			<input class='thursday' type='checkbox'>
 		</td>
		<td>
			<span id='thursdayStart' class='start'></span>
		</td>
		<td>	
				<input class='slideInput' id="thursday" type="text"/>
		</td>
		<td>
			<span id='thursdayEnd' class='end'>17:00 PM</span>
		</td>
	</tr>
	<tr>
		<th>Friday</th>
		<td>
 			<input class='friday' type='checkbox'>
 		</td>
		<td>
			<span id='fridayStart' class='start'></span>
		</td>
		<td>	
				<input class='slideInput' id="friday" type="text"/>
		</td>
		<td>
			<span id='fridayEnd' class='end'>17:00 PM</span>
		</td>
	</tr>			
	<tr>
		<th>Saturday</th>
		<td>
 			<input class='saturday' type='checkbox'>
 		</td>
		<td>
			<span id='saturdayStart' class='start'></span>
		</td>
		<td>	
				<input class='slideInput' id="saturday" type="text"/>
		</td>
		<td>
			<span id='saturdayEnd' class='end'>17:00 PM</span>
		</td>
	</tr>
	<tr>
		<th>Sunday</th>
		<td>
 			<input class='sunday' type='checkbox'>
 		</td>
		<td>
			<span id='sundayStart' class='start'></span>
		</td>
		<td>	
				<input class='slideInput' id="sunday" type="text" disable/>
		</td>
		<td>
			<span id='sundayEnd' class='end'>17:00 PM</span>
		</td>
	</tr>	
</tbody>

</table>

		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {

	var checkboxes = $("[type='checkbox']");
	checkboxes.attr('data-size', 'mini');
	checkboxes.attr('data-on-text', 'Yes');
	checkboxes.attr('data-off-text', 'No');
	checkboxes.bootstrapSwitch();

	$('input[type="checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {

		var day = event.target.className;
		var daySlider = $('input[type="text"]#' + day);
		var spanStart = $('span#' + day + 'Start');
		var spanEnd = $('span#' + day + 'End');

		if (state) {
			daySlider.slider("enable");
			console.log('enable it');
			spanStart.removeClass('hide');
			spanEnd.removeClass('hide');

		} else {
			daySlider.slider("disable");
			console.log('disable it');
			spanStart.addClass('hide');
			spanEnd.addClass('hide');
		}

	});

	$("input.slideInput").slider({
		step: .5, 
		min: 0, 
		max: 24, 
		value: [7, 17],
		tooltip: 'hide', 
		focus: true,
		enabled: false 
	});

	function formatTime(time) {
		var time = String(time).split('.');

		if (time[0].length < 2) {
			hours = '0'.concat(time[0])
		} else {
			hours = time[0]
		}

		if (time.length>1) {
			minutes = ':30'; 
		} else {
			minutes = ':00';
		}

		return hours + minutes;

	}

	$("input.slideInput").on('change', function(event){
		var dayOfWeek = event.target.id;
		var startSpan = $('#' + dayOfWeek + 'Start');
		var endSpan = $('#' + dayOfWeek + 'End');

		var startTime = formatTime(event.value.newValue[0]);
		var endTime = formatTime(event.value.newValue[1]);

		startSpan.text(startTime);
		endSpan.text(endTime);
		
	});



});
</script>

{% endblock %}

