{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">
<style>
	.slider-selection {
		background: #CCC;
	}
	td:nth-child(3) {
		text-align: right;
	}	
	td:nth-child(5) {
		text-align: left;
	}
</style>
{% endblock %}

{% block content %}
<div class="row">
	<div class='col-md-offset-2 col-md-8'>

<h1>{{ user }}'s Availability</h1>
<table class="table">
  	<thead>
 		<tr>
 			<th>Day</th>
 			<th>Available?</th>
 			<th>Time</th>
 			<th style='text-align: right;'><small>*Click 'Yes/No' then slide to adjust time</small></th>
 		</tr>
 	</thead>
 <tbody>
 	<tr>
 		<th>Monday</th>
 		<td>
 			<input class='monday' type='checkbox'>
 		</td>
 		<td>
			<span id='mondayStart' class='start'></span>
			-
			<span id='mondayEnd' class='end'></span>
		</td>
		<td>
				<input class='slideInput' id="monday" type="text"/>
		</td>
	</tr>
	<tr>
		<th>Tuesday</th>
		<td>
 			<input class='tuesday' type='checkbox'>
 		</td>
		<td>
			<span id='tuesdayStart' class='start'></span>
			-
			<span id='tuesdayEnd' class='end'></span>
		</td>
		<td>	
				<input class='slideInput' id="tuesday" type="text"/>
		</td>
	</tr>
	<tr>
		<th>Wednesday</th>
		<td>
 			<input class='wednesday' type='checkbox'>
 		</td>
		<td>
			<span id='wednesdayStart' class='start'></span>
			-
			<span id='wednesdayEnd' class='end'></span>
		</td>
		<td>	
				<input class='slideInput' id="wednesday" type="text"/>
		</td>
	</tr>
	<tr>
		<th>Thursday</th>
		<td>
 			<input class='thursday' type='checkbox'>
 		</td>
		<td>
			<span id='thursdayStart' class='start'></span>
			-
			<span id='thursdayEnd' class='end'></span>
		</td>
		<td>	
				<input class='slideInput' id="thursday" type="text"/>
		</td>
	</tr>
	<tr>
		<th>Friday</th>
		<td>
 			<input class='friday' type='checkbox'>
 		</td>
		<td>
			<span id='fridayStart' class='start'></span>
			-
			<span id='fridayEnd' class='end'></span>
		</td>
		<td>	
				<input class='slideInput' id="friday" type="text"/>
		</td>
	</tr>			
	<tr>
		<th>Saturday</th>
		<td>
 			<input class='saturday' type='checkbox'>
 		</td>
		<td>
			<span id='saturdayStart' class='start'></span>
			-
			<span id='saturdayEnd' class='end'></span>
		</td>
		<td>	
				<input class='slideInput' id="saturday" type="text"/>
		</td>
	</tr>
	<tr>
		<th>Sunday</th>
		<td>
 			<input class='sunday' type='checkbox'>
 		</td>
		<td>
			<span id='sundayStart' class='start'></span>
			-
			<span id='sundayEnd' class='end'></span>
		</td>
		<td>	
			<input class='slideInput' id="sunday" type="text" disable/>
		</td>
	</tr>	
</tbody>

</table>

		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {

	var DAYS_OF_WEEK = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];

	var checkboxes = $("[type='checkbox']");
	checkboxes.attr('data-size', 'mini');
	checkboxes.attr('data-on-text', 'Yes');
	checkboxes.attr('data-off-text', 'No');
	checkboxes.bootstrapSwitch();

	$('input[type="checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {

		var day = event.target.className;
		var daySlider = $('input[type="text"]#' + day);
		var spanStart = $('span#' + day + 'Start');
		var spanEnd = $('span#' + day + 'End');

		if (state) {
			daySlider.slider("enable");
			spanStart.removeClass('hide');
			spanEnd.removeClass('hide');

		} else {
			daySlider.slider("disable");
			spanStart.addClass('hide');
			spanEnd.addClass('hide');
		}

	});

	function formatTime(time) {
		var time = String(time).split('.');

		if (time[0].length < 2) {
			hours = '0'.concat(time[0])
		} else {
			hours = time[0]
		}

		if (time.length>1) {
			minutes = ':30'; 
		} else {
			minutes = ':00';
		}

		return hours + minutes;

	}

	function timeToNumber(time) {
		var time = time.split(':');

		if(!time[0] && !time[1]) {
			return null;
		}

		if (time[0][0] == '0') {
			number = time[0][1];
		} else {
			number = time[0];
		}

		if (time[1] == '30') {
			number += '.5';
		}

		return Number(number);

	}

	$("input.slideInput").on('change', function(event){
		var dayOfWeek = event.target.id;
		var startSpan = $('#' + dayOfWeek + 'Start');
		var endSpan = $('#' + dayOfWeek + 'End');

		var startTime = formatTime(event.value.newValue[0]);
		var endTime = formatTime(event.value.newValue[1]);

		startSpan.text(startTime);
		endSpan.text(endTime);
		
	});

	var TIMES = '{"times": [{"day": 0, "start": "08:00", "end": "14:00"},{"day": 1, "start": "10:00", "end": "11:00"},{"day": 2, "start": "16:00", "end": "22:30"},{"day": 3, "start": "08:00", "end": "14:30"},{"day": 4, "start": "", "end": ""},{"day": 5, "start": "", "end": ""},{"day": 6, "start": "", "end": ""}]}';

	function initControls(day, start, end) {
		var daySlider = $('input[type="text"]#' + day);
		var enabled = true;

		var startSpan = $('#' + day + 'Start');
		var endSpan = $('#' + day + 'End');

		if(!start || !end) {
			start = 7;
			end = 17;
			enabled = false;
			startSpan.addClass('hide');
			endSpan.addClass('hide');			
		}

		daySlider.slider({
			step: .5, 
			min: 0, 
			max: 24, 
			value: [start, end],
			tooltip: 'hide', 
			focus: true,
			enabled: enabled
		});

		$('input[type="checkbox"].' + day ).bootstrapSwitch('state', enabled, enabled);

		startSpan.text(formatTime(start));
		endSpan.text(formatTime(end));
	} // end initControls


	function parseTimes(day, start, end) {
		var start = timeToNumber(start);
		var end = timeToNumber(end);
		initControls(day, start, end);
	}

	function initTimes(times) {
		for (var el in times) {
			var day = times[el];
			var dayName = DAYS_OF_WEEK[Number(day.day)];
			parseTimes(dayName, day.start, day.end);
		}
	}

	var timesArray = JSON.parse(TIMES).times;
	initTimes(timesArray);


});
</script>

{% endblock %}