{% extends "base.html" %}

{% block title %}
{{ block.super }}
 - Jobs
{% endblock title %}

{% block head %}
<style>
.checkBox {
    display:inline-block;
    margin-top:3em;
}
</style>
{% endblock head %}

{% block content %}

<div class='row'>
	<div class='col-xs-12 col-sm-8'>
		<form method='post'>
		{% csrf_token %}
		{% for job in jobs %}
			<div class="well" id='{{ job.id }}'>
				<div class='row'>
					<div class='col-xs-1 checkBox'>
						<input type='checkbox' name='requested_jobs[]' value='{{ job.id }}'
						{% if request.session.requested_jobs and job.id|stringformat:"i" in request.session.requested_jobs %}
							checked
						{% endif %}
						>
					</div>
					<div class='col-xs-10'>
						<div class='col-xs-10'>
							<h3>{{ job.title }} <small>{{ job.employer }}</small></h3>
						</div>
						<div class='col-xs-8'>
							<ul class="list-inline">
							  <li>Location: {{ job.location | title }}</li>
							  <li>Salary: {{ job.salary_low }} - {{ job.salary_high }}</li>
							  <li>Weekly Hours: {{ job.weekly_hours }}</li>
							  <li>Posted: {{ job.created | date:"M d"}}</li>
							</ul>
						</div>
						<div class='col-xs-4 text-center'>
							<a href="{% url 'job_details' job.id %}" class="btn btn-primary" role="button">Details</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
			<div class="input-group input-group-lg">
				<span class="input-group-addon glyphicon glyphicon-send" id="addon1"></span>
				<input type="submit" class="form-control btn btn-primary" value="Submit" aria-describedby="addon1">
			</div>
		</form>
		<br>
	</div>
	<div class='col-xs-12 col-sm-4'>
	    <div class="thumbnail text-center">
	      <div class="caption">
		    {% if user.is_authenticated %}
				{% if user.candidate %}
				 	{% include 'jobs/_candidate.html' %}
				{% elif user.employer %}
					{% include 'jobs/_employer.html' %}
				{% elif user.recruiter %}
					{% include 'jobs/_recruiter.html' %}
				{% else %}
					<p>Custom Message Needed</p>
				{% endif %}	        
	        {% else %}
			    <span class='glyphicon glyphicon-envelope'></span>
		        <h3>Job Offers Waiting</h3>
		        <p>Provide your resume and companies will contact you. It's fast and easy.</p>
		        <p><a href="{% url 'account_signup' %}" class="btn btn-primary" role="button">Sign Up</a></p>
	        {% endif %}
	      </div>
	    </div>
	</div>
</div>

{% endblock content %}


